$primary-color: #414040;
$secondary-color: #000;

$primary-text-color: #fff;
$secondary-text-color: #b3b3b3;

$error-text-color: #f00;

$font-size: 1rem;

$border-color: #444;
$border-radius: 0.4rem;

$input-background: #333;

$button-background: #94181e;
$button-text-color: #fff;
$button-border-radius: 0.4rem;
